---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import SpeakingHeader from "../../components/SpeakingHeader.astro";
import { Image } from "astro:assets";

import { SITE_TITLE } from "../../consts";
import portrait from "../../assets/philnash.jpg";
import portrait120 from "../../assets/philnash120x120.jpg";

const title = "Speaker Details";
const description = "Phil Nash's speaker details. Invite him to speak!";
---

<DefaultLayout title={`${title} | ${SITE_TITLE}`} description={description}>
  <SpeakingHeader title={title} />

  <div class="row">
    <div class="cell cell-12 cell-med-10 cell-centre">
      <p>
        On this page you can find all the details you may need if Phil is
        speaking at your event.
      </p>

      <h2>Speaker information</h2>

      <dl class="speaker-info">
        <dt>Name:</dt>
        <dd>Phil Nash</dd>
        <!--<dt>Company:</dt>
        <dd><a href=""></a></dd>-->
        <dt>Job title:</dt>
        <dd>Developer Advocate</dd>
        <dt>Twitter:</dt>
        <dd><a href="https://twitter.com/philnash" rel="me">@philnash</a></dd>
        <dt>GitHub:</dt>
        <dd><a href="https://github.com/philnash" rel="me">@philnash</a></dd>
        <dt>Site:</dt>
        <dd><a href="https://philna.sh" rel="me">https://philna.sh</a></dd>
        <dt>Location:</dt>
        <dd>Melbourne, Australia</dd>
      </dl>

      <h2>Photo</h2>

      <p>Below is a link to the large size version of my online avatar.</p>

      <p>
        <a href={portrait.src}>
          <Image src={portrait120} alt="Phil's current avatar, he's smiling" />
        </a>
      </p>

      <h2>Biography</h2>

      <blockquote>
        <p>
          Phil is a developer relations engineer for
          <a href="https://www.datastax.com">DataStax</a> and
          <a
            href="https://developers.google.com/community/experts/directory?text=phil%20nash"
            >Google Developer Expert</a
          >
          living in Melbourne, Australia. He loves working with JavaScript, TypeScript
          or Ruby to build web applications and tools to help developers. He once
          helped build a website that captured the world's favourite sandwich fillings.
          He has
          <a href="https://github.com/philnash/">too many GitHub repositories</a
          >.
        </p>
        <p>
          Away from the keyboard, Phil listens to ska punk, hangs out with his
          miniature dachshund (also called Ruby), and is on a mission to
          discover the world's best beers.
        </p>
        <p>
          Phil tweets at <a href="https://twitter.com/philnash">@philnash</a>
          and you can find him elsewhere online at
          <a href="https://philna.sh">https://philna.sh</a>.
        </p>
      </blockquote>
    </div>
  </div>
</DefaultLayout>
