---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import AppearanceList from "../../components/AppearanceList.astro";
import SpeakingHeader from "../../components/SpeakingHeader.astro";

import { getToday, pastAppearances } from "../../utils/appearances";
import { SITE_TITLE } from "../../consts";

import { getCollection, type CollectionEntry } from "astro:content";

const today = getToday();

const appearances = await getCollection("appearances");

const appearancesByYear = pastAppearances(appearances, today).reduce<
  Record<string, CollectionEntry<"appearances">[]>
>((apps, appearance) => {
  const year = appearance.data.event.start_date.getFullYear().toString();
  if (apps[year]) {
    apps[year].push(appearance);
  } else {
    apps[year] = [appearance];
  }
  return apps;
}, {});

Object.keys(appearancesByYear).forEach((year) =>
  appearancesByYear[year].sort(
    (a, b) =>
      b.data.event.start_date.getTime() - a.data.event.start_date.getTime(),
  ),
);
const years = Object.keys(appearancesByYear).sort().reverse();

const title = "Speaking History";
const description = "Phil Nash's speaking history";
---

<DefaultLayout title={`${title} | ${SITE_TITLE}`} description={description}>
  <SpeakingHeader title={title} />

  <div class="row cell">
    {
      years.map((year) => (
        <AppearanceList heading={year} appearances={appearancesByYear[year]} />
      ))
    }
  </div>
</DefaultLayout>
