---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION, DOMAIN } from "../consts";

const title = "Live";
---

<DefaultLayout
  title={`${title} | ${SITE_TITLE}`}
  description={SITE_DESCRIPTION}
>
  <div class="home row">
    <header class="page-header cell cell-12">
      <h1 class="page-title">{title}</h1>
    </header>
  </div>

  <div class="row">
    <div class="cell cell-12 cell-med-10 cell-centre">
      <p>
        <a href="https://twitch.tv/phil_nash"
          >Phil is streaming live code on Twitch</a
        >. It's a low key way to hang out, write code and chat about what's
        going on with development.
      </p>
      <p>
        Streams mostly focus on open source code in either Ruby or JavaScript,
        but they always take tangents based on what the chat room is interested
        in. So come join in with your code opinions, ask questions, or just to
        chat.
      </p>
      <p>
        If Phil is live now you can watch below, or <a
          href="https://twitch.tv/phil_nash">follow @phil_nash on Twitch</a
        > for notifications.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="cell cell-12 twitch">
      <div class="twitch-video">
        <iframe
          src={`https://player.twitch.tv/?channel=phil_nash&parent=${DOMAIN}&autoplay=false`}
          allowfullscreen="true"
          height="100%"
          width="100%"
        >
        </iframe>
      </div>
      <div class="twitch-chat">
        <iframe
          src={`https://www.twitch.tv/embed/phil_nash/chat?parent=${DOMAIN}`}
          height="100%"
          width="100%"
        >
        </iframe>
      </div>
    </div>
  </div>
</DefaultLayout>
