---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/critical.scss";

import raleway from "@fontsource/raleway/files/raleway-latin-900-normal.woff2";
import merriweather from "@fontsource/merriweather/files/merriweather-latin-400-normal.woff2";
const fonts = [raleway, merriweather];

import appleTouchIcon from "../assets/apple-touch-icon.png";

import { SITE_TITLE, SITE_DESCRIPTION, TWITTER_HANDLE } from "../consts";

import Analytics from "./Analytics.astro";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  imageAlt?: string;
  type?: "post" | "page";
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const preconnectUrls = [
  "https://cdn.carbonads.com",
  "https://srv.carbonads.net",
  "https://ad.doubleclick.net",
];

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
  type = "page",
  imageAlt,
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="description" content={description} />
<meta name="author" content="Phil Nash" />

<!-- favicon -->
<link href="/favicon.png" rel="icon" type="image/png" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- preload fonts -->
{
  fonts.map((font) => (
    <link rel="preload" href={font} as="font" type="font/woff2" crossorigin />
  ))
}
<!-- preconnect to analytics and ads -->
{preconnectUrls.map((url) => <link rel="preconnect" href={url} crossorigin />)}

<!-- RSS Feed Discovery -->
<link
  rel="alternate"
  type="application/rss+xml"
  title={`${SITE_TITLE} RSS Feed`}
  href="/feed.xml"
/>

<!-- Mobile web settings -->
<link rel="manifest" href="/manifest.json" />
<link rel="apple-touch-icon" href={appleTouchIcon.src} />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="application-name" content={SITE_TITLE} />
<meta name="apple-mobile-web-app-title" content={SITE_TITLE} />
<meta name="theme-color" content="#ea0011" />
<meta name="msapplication-navbutton-color" content="#ea0011" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="msapplication-starturl" content="/?utm_source=homescreen" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type === "post" ? "article" : "website"} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{image && <meta property="og:image" content={new URL(image, Astro.url)} />}
{imageAlt && <meta property="og:image:alt" content={imageAlt} />}
<meta property="og:site_name" content={SITE_TITLE} />
<meta property="og:locale" content="en_GB" />

<!-- Twitter -->
<meta
  property="twitter:card"
  content={image ? "summary_large_image" : "summary"}
/>
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{image && <meta property="twitter:image" content={new URL(image, Astro.url)} />}
{imageAlt && <meta property="twitter:image:alt" content={imageAlt} />}
<meta property="twitter:site" content={TWITTER_HANDLE} />
<meta property="twitter:creator" content={TWITTER_HANDLE} />

<!-- Google -->
<meta itemprop="name" content={title} />
<meta itemprop="description" content={description} />
{image && <meta itemprop="image" content={new URL(image, Astro.url)} />}

{import.meta.env.PROD && <Analytics />}
