---
import Icon from "./Icon.astro";
const { name, url, cellWidth = "cell-6" } = Astro.props;
const className = name.toLowerCase();
---

<li class={`cell ${cellWidth}`}>
  <a href={url} class={className} rel="me"
    ><Icon icon={className} />&nbsp;{name}</a
  >
</li>
