---
import type { CollectionEntry } from "astro:content";
import PostMedia from "./PostMedia.astro";
import PostMeta from "./PostMeta.astro";
import Markdown from "@astrojs/markdown-component";
import { postPath } from "../utils/blog_posts";

type Props = {
  post: CollectionEntry<"blog">;
  aboveTheFold: boolean;
};

const { post, aboveTheFold } = Astro.props;
---

<li
  class="cell cell-12 cell-med-10 cell-centre post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <a
    class="post-link u-url"
    itemprop="url mainEntityOfPage"
    href={postPath(post)}
  >
    <PostMedia {...post.data} aboveTheFold={aboveTheFold} />

    <h2 class="p-name" itemprop="name">{post.data.title}</h2>
  </a>
  <PostMeta pubDate={post.data.pubDate} subscribe={false} />
  <Markdown content={post.body.split(/\n\n/)[0]} />
</li>
